footer{
    .container{
        .f_container{
            display: flex;
            align-items: start;
            justify-content: space-between;
            padding: 100px 0;
            flex-wrap: wrap;
            p{
                font-family: DM Sans;
                font-weight: 500;
                font-size: 18px;
                line-height: 40px;
                letter-spacing: 1%;
                color: white;
                opacity: 0.5;
            }
            a{
                font-family: DM Sans;
                font-weight: 500;
                font-size: 18px;
                line-height: 40px;
                letter-spacing: 1%;
                color: white;
                opacity: 0.5;
                
            }

            ul{
                width: 18%;
            }
            .one{

                li{
                    display: flex;
                    align-items: center;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    i{
                        background: none;
                        width: 20px;
                        height: 20px;
                            color: white;
                            color: white;
                            opacity: 0.5;
                        }
                        span{
                            display: flex;
                    align-items: center;
                    display: flex;
                    align-items: center;
                    color: white;
                    }
                }
            }
        }
    }
}


@media(max-width:1000px){
    footer{
        .container{
            .f_container{
                display: flex;
                flex-wrap: wrap;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
}


@media(max-width:500px){
    footer{
        .container{
            .f_container{
                grid-template-columns: 1fr 1fr ;
                justify-content: space-between;
            }
        }
    }
}