section{
    .container{
        .section_two_text{
            width: 70%;
            justify-content: center;
            margin: 0 auto;
            h1{
                font-family: DM Sans;
                font-weight: 700;
                font-size: 42px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                color: white;

                
            }
            p{
                font-family: DM Sans;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0%;
                text-align: center;
                color: white;
                
            }
        }
        .section_two{
            .card{
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 30%;
                text-align: center;
                border: 1px solid;
                background: linear-gradient(268.12deg, rgba(37, 37, 146, 0.63) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
                box-shadow: inset 10px 22px 18px 100px rgba(39, 12, 158, 0.788);
                 border-image-source: linear-gradient(97.12deg, rgba(255, 255, 255, 0.08) -3.52%, rgba(255, 255, 255, 0.07) 100.35%);
                 border: 1px solid rgba(119, 111, 111, 0.08);
                 border-radius: 10px;
                 padding: 30px 20px;



                .icon{
                    width: 70px ;
                    height: 70px;
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;

                }

                    h1{
                        font-family: DM Sans;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        color: white;
                        background: none;
                        
                    }
                    p{
                        font-family: DM Sans;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 26px;
                        letter-spacing: 0%;
                        color: white;
                        background: none;
                        
                    }
                    a{
                        font-family: DM Sans;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 26px;
                        letter-spacing: 0%;
                        gap: 20px;
                        display: flex;
                        align-items: center;
                        color: white;
                        margin: 0 auto;
                        align-items: center;
                        justify-content: center;
                        background: none;
                        
                    }
            }
        }
    }
}